
# Ignore input/output data
/data/
/output/
/*.log
/annovar/
/configs/
/modules/

# Ignore Conda environments and temp files
.env/
/work/
/.nextflow*
*.conda

# OS files
.DS_Store


trace.txt
timeline.html
refactored-nf
ERR166333.slim*
*sh
*.dot