process {
  executor = 'slurm'
  queue = 'compute'        
  cpus = 24                 // default number of CPUs per job
  memory = '64 GB'          // default memory
  time = '1h'              // default runtime limit
  clusterOptions = '--account=scw1557'
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}